# ======================
# NetBeans
# ======================
nbproject/private/

# ======================
# Build outputs
# ======================
build/
dist/

# ======================
# Java compiled files
# ======================
*.class
*.jar

# ======================
# Logs
# ======================
*.log

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db